@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

#viz-env-stakeholders {
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
}
body {
  background-color: #f5f4f1;
  font-family: "Lato", Helvetica, sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th {
  background: #000;
  color: #fff;
  border: 1px solid #fff;
  padding: 0.6rem 0.5rem;
  text-align: left;
  font-weight: 700;
  font-size: 0.9rem;
  text-transform: uppercase;
  line-height: 1.3rem;
}
tr:nth-child(odd) {
  background: #e5e5e5;
}
td {
  font-weight: 500;
  padding: 10px 5px;
  border: 1px solid #fff;
  font-size: 14px;
  font-weight: 1.3em;
}
td:nth-child(1) {
  text-transform: uppercase;
}
.pct {
  text-align: center;
}