.legend {
  font: 12px/18px var(--fonts-sans-serif);
  margin: 0 0 16px 0;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;

  &--left {
    justify-content: flex-start;
  }
  &--right {
    justify-content: flex-end;
  }
  li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 16px 0 0;
  }
  li:last-child {
    margin: 0;
  }

  &__dot {
    background: red;
    display: block;
    height: 0.7em;
    width: 0.7em;
    margin: 0 8px 0 0;
    border-radius: 50%;
  }
}
