.pin {
  --pin-width: 25px;
  --pin-height: 30px;
  --pin-color: var(--gold);
  width: var(--pin-width, 30px);
  height: var(--pin-height, 30px);
  &::after {
    content: "";
    display: block;
    width: calc(0.5 * var(--pin-width, 30px));
    height: calc(0.25 * var(--pin-height, 30px));
    margin: -1px auto 0 auto;
    background-color: var(--pin-color);
    -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%);
    clip-path: polygon(0 0, 100% 0, 50% 100%);
  }
}

.pin__body {
  width: var(--pin-width, 30px);
  height: calc(0.75 * var(--pin-height, 30px));
  background-color: var(--pin-color);
  background-size: contain;
  background-position: center;
  z-index: 11;
}

.pin.pin--rspo {
  --pin-color: var(--rspo-color);
}

.pin.pin--non-rspo {
  --pin-color: var(--non-rspo-color);
}