
.checktable-wrapper{
 overflow-x: auto;
}

.checktable {
  --cell-width: calc(100% / 8);
  background: var(--tan-light);
  width: 100%;
  height: 100%;
  font: 14px/1.3em var(--fonts-sans-serif, sans-serif);
  color: var(--chart-text);
  border-collapse: collapse;
  text-align: left;
}

.checktable__row th {
  text-transform: uppercase;
}

.checktable thead th {
  height: 3em;
}

.checktable tbody .checktable__row:nth-child(even) .checktable__check,
.checktable__row .checktable__check {
  font-size: 18px;
  text-align: center;

  background: var(--green-light);
}

.checktable__row td,
.checktable__row th {
  padding: 10px 5px;
  box-sizing: border-box;
  border: 1px solid white;
  width: var(--cell-width);
  min-width: 60px;
}

.checktable__row th:first-child {
  width: calc(2 * var(--cell-width));
}

.checktable thead .checktable__row th {
  color: white;
  background: var(--black-primary);
}

.checktable tbody .checktable__row:nth-child(even) td,
.checktable tbody .checktable__row:nth-child(even) th {
  background: var(--backgroundDarkAccent);
}
