@font-face {
  font-family: "MacklinDisplay";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/Monotype - Macklin Display ExtraLight.otf")
    format("opentype");
  unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
  font-family: "MacklinDisplay";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/Monotype - Macklin Display Light.otf") format("opentype");
  unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
  font-family: "MacklinDisplay";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Monotype - Macklin Display Medium.otf") format("opentype");
  unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
  font-family: "MacklinDisplay";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Monotype - Macklin Display Bold.otf") format("opentype");
  unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
  font-family: "MacklinSans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Monotype - Macklin Sans Bold.otf") format("opentype");
  unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
  font-family: "MacklinSans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Monotype - Macklin Sans Light.otf") format("opentype");
  unicode-range: U+000-5FF; /* Latin glyphs */
}

.drawer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.drawer > ul ul ul {
  margin: 0 0 0 30px;
}

.drawer ul.level-3 > li {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  margin: 0 0 8px 0;

  h4::after {
    content: ":";
  }

  & > * {
    margin: 0 8px 0 0;
  }
}

.drawer {
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 100;
    font-family: "MacklinDisplay", monospace;
    line-height: 1em;
    margin-bottom: 1em;
  }

  p {
    font: 16px/1.3em "Lato", sans-serif;
  }
}

.drawer h3 {
  font-size: 20px;
  border-bottom: 1px solid #aaa;
}

.drawer h2 {
  text-transform: uppercase;
  margin: 60px 0 0 0;
  color: #888;
  font-weight: lighter;
  font-size: 100px;
  text-align: right;
}
