.sidebar {
  --bar-height: 30px;
  list-style: none;
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.sidebar__row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 0 10px 0;
}

.sidebar__label {
  font: 13px/1.3em var(--fonts-sans-serif, sans-serif);
  color: var(--chart-text);
  margin: 0 15px 7px 0;
  flex-basis: 100%;
}

.sidebar__bar {
  flex: 1 1;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  width: 100%;
}
.sidebar__bar-inner {
  height: var(--bar-height, 30px);
  background: var(--green-light);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.sidebar__bar span {
  font: bold 13px/1.3em var(--fonts-sans-serif, sans-serif);
  color: var(--chart-text);
  padding-right: 0.5em;
}

.sidebar__bar--label-outside span {
  transform: translate(calc(100% + 0.5em), 0);
}

@media all and (min-width: 458px) {
  .sidebar__label {
    flex-basis: 115px;
    margin-bottom: 0;
    text-align: right;
  }
}
